.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 20px 0 0;
    max-width: 1280px;
}

@media screen and (max-width: 425px) {
    .content {
        margin: 14px 0 0;
    }
}
