.subtitle {
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    margin: 100px 0 0;
    height: 50px;
    border-bottom: #000000 1px solid;
}

@media screen and (max-width: 830px) {
    .subtitle {
        margin: 90px 0 0;
    }
}

@media screen and (max-width: 425px) {
    .subtitle {
        margin-top: 70px;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.72px;
    }
}
