.about-project {
    margin: 10px 70px 0;
    display: flex;
    flex-direction: column;
}

.about-project__about {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
    gap: 30px;
}

.about-project__article {
    max-width: 550px;
}

.about-project__article-title {
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-project__article-text {
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.about-project__process {
    margin: 110px 0;
    display: grid;
    grid-template:
    "one-week four-week" minmax(36px, max-content)
    "backend frontend" minmax(31px, max-content) / 1fr 4fr;
}

.about-project__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.about-project__text_type_firstBar {
    grid-area: one-week;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: #000000;
}

.about-project__text_type_secondBar {
    grid-area: four-week;
    background: #F2F2F2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-project__text_type_firstDescription {
    grid-area: backend;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    color: #A0A0A0;
}

.about-project__text_type_secondDescription {
    grid-area: frontend;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    font-weight: 500;
    text-align: center;
    color: #A0A0A0;
}

@media screen and (max-width: 830px) {
    .about-project {
        margin: 0 50px;
    }
    .about-project__process {
        margin: 90px 0;
    }
    .about-project__article-text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 22px;
    }
}

@media screen and (max-width: 425px) {
    .about-project {
        margin: 0 18px;
    }
    .about-project__about {
        margin-top: 60px;
        flex-direction: column;
        gap: 56px;
    }
    .about-project__article-title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.72px;
    }
    .about-project__article-text {
        font-size: 11px;
        line-height: 16px;
        margin-top: 16px;
    }
    .about-project__process {
        margin: 60px 0 70px;
        grid-template:
        "one-week four-week" minmax(36px, max-content)
        "backend frontend" minmax(31px, max-content) / 1fr 2fr;
    }
    .about-project__text {
        font-size: 11px;
        line-height: 13px;
    }
    .about-project__text_type_back {
        margin-top: 10px;
    }
    .about-project__text_type_front {
        margin-top: 10px;
    }
}
