.register {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin: 10px 0;
}

@media screen and (max-width: 456px) {
    .register {
        margin: 0 30px;
        align-items: inherit;
    }
}
