.footer {
    margin: 79px 70px 20px;
}

.footer__about {
    margin: 0 auto 20px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #A0A0A0;
}

.footer__links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    border-top: #E8E8E8 1px solid;
    min-height: 36px;
}

.footer__year {
    margin: 0 auto 0 0;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
}

.footer__link {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
    transition: opacity ease-in-out 0.2s;
}

.footer__link:hover {
    opacity: .7;
}

@media screen and (max-width: 830px) {
    .footer {
        margin: 79px 30px 20px;
    }
}
