.about-me {
    margin: 10px 70px 0;
}

.about-me__container {
    display: grid;
    grid-template:
    "p photo" min-content
    "p photo" min-content
    "p photo" min-content
    "link photo" 1fr / 1fr 1fr;
    margin-top: 66px;
    grid-column-gap: 49px;
}

.about-me__photo {
    grid-area: photo;
    max-width: 270px;
    max-height: 327px;
    width: 100%;
    border-radius: 10px;
    justify-self: flex-end;
}

.about-me__name {
    margin: 0;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    max-width: 600px;
}

.about-me__status {
    margin: 18px 0 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    max-width: 600px;
    align-self: flex-end;
}

.about-me__story {
    margin: 26px 0 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    max-width: 600px;
}

.about-me__link {
    text-decoration: none;
    color: inherit;
    align-self: flex-end;
    margin-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    transition: opacity ease-in-out 0.2s;
}

.about-me__link:hover {
    opacity: .7;
}

@media screen and (max-width: 830px) {
    .about-me {
        margin: 0 50px;
    }
    .about-me__name {
        font-size: 40px;
        line-height: 40px;
        letter-spacing: -1.6px;
    }
    .about-me__status {
        margin-top: 16px;
        font-size: 12px;
        line-height: 18px;
    }
    .about-me__story {
        margin-top: 20px;
        font-size: 12px;
        line-height: 18px;
    }
}
