.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@media screen and (max-width: 456px) {
    .login {
        height: auto;
        margin: 0 30px;
    }
}
